html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: rgb(0, 0, 0);
}

.cssBayan {
    margin: 0 auto;
    width: 50rem;
    margin-top: 3%;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 900;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

input{
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

label {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    transition: color 0.3s ease;
    order: 1;
    cursor: pointer;
}

.item:hover > label{
    color: red;
}
label::after{
        content: "+";
        font-weight: 900;
        color: black;
        order: 1;
}

.image {
    justify-content: center;
    margin-top: 1em;
    display: none;
    order: 3;
    width: 100%;
}

.image-mem{
    max-width: 40em;
}

.item {
    margin-top: 1em;
    border: 1px solid red;
    padding: 0.4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.input:checked ~ .image{
    display: flex;
}
.input:checked ~ label {
    color: red;
}
.input:checked ~ label::after{
    transform: rotate(45deg);
}
.cssBayan:hover > .item > label::after{
    color: white;
}

